In [1]:
# Importar librerías y funciones
import pandas as pd

In [2]:
# Cargar base de datos
encuesta = pd.read_csv('../datos/original/IT Salary Survey EU  2020.csv')

In [3]:
# Visualizar columnas
print("Columnas de la base de datos:")
for columna in encuesta.columns:
    print(columna)

Columnas de la base de datos:
Timestamp
Age
Gender
City
Position
Total years of experience
Years of experience in Germany
Seniority level
Your main technology / programming language
Other technologies/programming languages you use often
Yearly brutto salary (without bonus and stocks) in EUR
Yearly bonus + stocks in EUR
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country
Annual bonus+stocks one year ago. Only answer if staying in same country
Number of vacation days
Employment status
Сontract duration
Main language at work
Company size
Company type
Have you lost your job due to the coronavirus outbreak?
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR

In [4]:
# Renonbrar columnas
nuevos_nombres = [
    'fecha',
    'edad',
    'genero',
    'ciudad',
    'posicion',
    'experiencia',
    'experiencia_alemania',
    'nivel',
    'tecnologia',
    'segundo_lenguaje',
    'salario',
    'bonos',
    'salario_anterior',
    'bonos_anterior',
    'vacaciones',
    'estado',
    'contrato',
    'idioma',
    'tamaño_empresa',
    'tipo_empresa',
    'desempleo_covid',
    'horas_covid',
    'apoyo_covid'
]

encuesta.columns = nuevos_nombres

# Visualizar columnas
for columna in encuesta.columns:
    print(columna)

fecha
edad
genero
ciudad
posicion
experiencia
experiencia_alemania
nivel
tecnologia
segundo_lenguaje
salario
bonos
salario_anterior
bonos_anterior
vacaciones
estado
contrato
idioma
tamaño_empresa
tipo_empresa
desempleo_covid
horas_covid
apoyo_covid

In [5]:
# Eliminar columnas que no serán analizadas
columnas_a_eliminar = [
    'fecha',
    'experiencia_alemania',
    'salario_anterior',
    'bonos_anterior',
    'desempleo_covid',
    'horas_covid',
    'apoyo_covid',
    'segundo_lenguaje',
    'bonos',
    'vacaciones',
    'tipo_empresa'
]
encuesta.drop(columnas_a_eliminar, axis=1, inplace=True)

# Visualizar columnas
print("Columnas de la base de datos:")
for columna in encuesta.columns:
    print(columna)

Columnas de la base de datos:
edad
genero
ciudad
posicion
experiencia
nivel
tecnologia
salario
estado
contrato
idioma
tamaño_empresa

In [6]:
# Información inicial
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   edad            1226 non-null   float64
 1   genero          1243 non-null   object
 2   ciudad          1253 non-null   object
 3   posicion        1247 non-null   object
 4   experiencia     1237 non-null   object
 5   nivel           1241 non-null   object
 6   tecnologia      1126 non-null   object
 7   salario         1253 non-null   float64
 8   estado          1236 non-null   object
 9   contrato        1224 non-null   object
 10  idioma          1237 non-null   object
 11  tamaño_empresa  1235 non-null   object
dtypes: float64(2), object(10)
memory usage: 117.6+ KB

In [7]:
# Contar valores nulos por columna
valores_nulos_por_columna = encuesta.isna().sum()

# Mostrar resultados
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
edad               27
genero             10
ciudad              0
posicion            6
experiencia        16
nivel              12
tecnologia        127
salario             0
estado             17
contrato           29
idioma             16
tamaño_empresa     18
dtype: int64

In [8]:
# Limpiar valores nulos
encuesta = encuesta.dropna()

# Contar valores nulos por columna
valores_nulos_por_columna = encuesta.isna().sum()

# Mostrar resultados
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
edad              0
genero            0
ciudad            0
posicion          0
experiencia       0
nivel             0
tecnologia        0
salario           0
estado            0
contrato          0
idioma            0
tamaño_empresa    0
dtype: int64

In [9]:
# Declarar función borrar valores atípicos
def borrar_valores_atipicos(base_de_datos, columna):
    Q1 = base_de_datos[columna].quantile(0.25)
    Q3 = base_de_datos[columna].quantile(0.75)
    rango = Q3 - Q1

    limite_inferior = Q1 - 1.5 * rango
    limite_superior = Q3 + 1.5 * rango

    valores_sin_atipicos = (base_de_datos[columna] >= limite_inferior) & (base_de_datos[columna] <= limite_superior)
    base_de_datos_filtrada = base_de_datos[valores_sin_atipicos]
    
    return base_de_datos_filtrada

In [10]:
# Calcular estadísticos descriptivos
descripcion = encuesta['edad'].describe()
valores_ordenados = encuesta['edad'].sort_values()

# Mostrar resultados
print("Descripción estadística de la columna edad:")
print(descripcion)

print("\nOrden de los valores de la columna edad de menor a mayor:")
print(valores_ordenados)

Descripción estadística de la columna edad:
count    1070.000000
mean       32.358879
std         5.555923
min        20.000000
25%        29.000000
50%        32.000000
75%        35.000000
max        66.000000
Name: edad, dtype: float64

Orden de los valores de la columna edad de menor a mayor:
804     20.0
1052    22.0
350     22.0
1099    22.0
982     22.0
        ...
1159    56.0
232     56.0
23      59.0
296     65.0
59      66.0
Name: edad, Length: 1070, dtype: float64

In [11]:
# Borrar datos atípicos columna edad
encuesta = borrar_valores_atipicos(encuesta, 'edad')

# Cambiar tipo de de dato
encuesta['edad'] = encuesta['edad'].astype('int')

# Calcular estadísticos descriptivos
descripcion = encuesta['edad'].describe()
valores_ordenados = encuesta['edad'].sort_values()

# Mostrar resultados
print("Descripción estadística de la columna edad:")
print(descripcion)

print("\nOrden de los valores de la columna edad de menor a mayor:")
print(valores_ordenados)

Descripción estadística de la columna edad:
count    1039.000000
mean       31.847931
std         4.669003
min        20.000000
25%        28.000000
50%        32.000000
75%        35.000000
max        44.000000
Name: edad, dtype: float64

Orden de los valores de la columna edad de menor a mayor:
804     20
1052    22
350     22
1099    22
982     22
        ..
836     44
1145    44
315     44
1221    44
720     44
Name: edad, Length: 1039, dtype: int32

In [12]:
# Contar cantidad por género
cantidad_por_genero = encuesta['genero'].value_counts()

# Mostrar resultados
print("Cantidad por género:")
print(cantidad_por_genero)

Cantidad por género:
genero
Male       886
Female     151
Diverse      2
Name: count, dtype: int64

In [13]:
# Contar cantidad por ciudad
cantidad_por_ciudad = encuesta['ciudad'].value_counts()

# Mostrar resultados
print("Cantidad por ciudad:")
print(cantidad_por_ciudad)

Cantidad por ciudad:
ciudad
Berlin         564
Munich         196
Hamburg         34
Frankfurt       34
Stuttgart       20
              ...
Cupertino        1
Wroclaw          1
Salzburg         1
Milan            1
Saarbrücken      1
Name: count, Length: 107, dtype: int64

In [14]:
# Contar cantidad por posicion
cantidad_por_posicion = encuesta['posicion'].value_counts().head(20)

# Mostrar resultados
print("Cantidad por posicion:")
print(cantidad_por_posicion)

Cantidad por posicion:
posicion
Software Engineer      346
Backend Developer      159
Data Scientist          95
Frontend Developer      82
QA Engineer             53
Mobile Developer        51
DevOps                  39
ML Engineer             37
Data Engineer           20
Engineering Manager      9
Product Manager          7
Data Analyst             6
Designer (UI/UX)         5
Software Architect       4
CTO                      4
Fullstack Developer      4
SRE                      3
Team Lead                3
Consultant               3
Business Analyst         3
Name: count, dtype: int64

In [15]:
# Definir umbral minimo de representación
umbral_representacion = 4

# Identificar posiciones poco representadas
frecuencia_posiciones = encuesta['posicion'].value_counts()
posiciones_poco_representadas = frecuencia_posiciones[frecuencia_posiciones < umbral_representacion].index

# Reemplazar posiciones poco representadas con 'Otro'
encuesta.loc[encuesta['posicion'].isin(posiciones_poco_representadas), 'posicion'] = 'Otro'

# Contar cantidad por posicion
cantidad_por_posicion = encuesta['posicion'].value_counts().head(20)

# Mostrar resultados
print("Cantidad por posicion:")
print(cantidad_por_posicion)

Cantidad por posicion:
posicion
Software Engineer      346
Backend Developer      159
Otro                   118
Data Scientist          95
Frontend Developer      82
QA Engineer             53
Mobile Developer        51
DevOps                  39
ML Engineer             37
Data Engineer           20
Engineering Manager      9
Product Manager          7
Data Analyst             6
Designer (UI/UX)         5
Software Architect       4
Fullstack Developer      4
CTO                      4
Name: count, dtype: int64

In [16]:
# Calcular valores unicos de la columna 'experiencia'
valores_unicos_experiencia = encuesta['experiencia'].unique()

# Mostrar resultados
print(valores_unicos_experiencia)

['5' '7' '12' '4' '17' '6' '8' '15' '2' '14' '11' '18' '13' '10' '3' '9'
 '19' '20' '5.5' '22' '25' '16' '0.8' '1' '1.5' '21' '2.5' '28' '1,5' '24'
 '0' '4.5' '1 (as QA Engineer) / 11 in total' '2,5' '15, thereof 8 as CTO'
 '6 (not as a data scientist, but as a lab scientist)' '3.5'
 'less than year']

In [17]:
# Reemplazar valores no enteros en la columna 'experiencia'
encuesta['experiencia'] = encuesta['experiencia'].str.replace(',','.')
reemplazo_experiencia = {
    '1 (as QA Engineer) / 11 in total':'11',
    '6 (not as a data scientist. but as a lab scientist)':'6',
    'less than year':'1',
    '15. thereof 8 as CTO':'15',
    '5.5': '6',
    '0.8': '1',
    '1.5': '2',
    '2.5': '3',
    '4.5': '5',
    '3.5': '4'
}
encuesta['experiencia'] = encuesta['experiencia'].replace(reemplazo_experiencia)

# Cambiar tipo de dato a entero
encuesta['experiencia'] = encuesta['experiencia'].astype('int')

# Borrar datos atípicos en la columna 'experiencia'
encuesta = borrar_valores_atipicos(encuesta, 'experiencia')

# Calcular valores unicos de experiencia
valores_unicos_experiencia = encuesta['experiencia'].unique()

# Mostrar resultados
for numero in valores_unicos_experiencia:
    print(numero, end=", ")

5, 7, 12, 4, 17, 6, 8, 15, 2, 14, 11, 18, 13, 10, 3, 9, 19, 20, 16, 1, 0,

In [18]:
# Contar cantidad por nivel
cantidad_por_nivel = encuesta['nivel'].value_counts()

# Mostrar resultados
print("Cantidad por nivel:")
print(cantidad_por_nivel)

Cantidad por nivel:
nivel
Senior                       466
Middle                       314
Lead                         134
Junior                        71
Head                          29
Principal                      2
Intern                         1
Entry level                    1
Working Student                1
C-Level                        1
Student                        1
intern                         1
Director                       1
C-level executive manager      1
No level                       1
CTO                            1
Work Center Manager            1
Manager                        1
VP                             1
student                        1
Name: count, dtype: int64

In [19]:
# Definir umbral minimo de representación
umbral_representacion = 5

# Identificar niveles poco representados
frecuencia_nivel = encuesta['nivel'].value_counts()
niveles_poco_representados = frecuencia_nivel[frecuencia_nivel < umbral_representacion].index

# Reemplazar niveles poco representados con 'Otro'
encuesta.loc[encuesta['nivel'].isin(niveles_poco_representados), 'nivel'] = 'Otro'

# Contar cantidad por nivel
cantidad_por_nivel = encuesta['nivel'].value_counts()

# Mostrar resultados
print("Cantidad por nivel:")
print(cantidad_por_nivel)

Cantidad por nivel:
nivel
Senior    466
Middle    314
Lead      134
Junior     71
Head       29
Otro       16
Name: count, dtype: int64

In [20]:
# Contar cantidad por tecnología
cantidad_por_tecnologia = encuesta['tecnologia'].value_counts()[:60]

# Mostrar resultados
print("Cantidad por tecnología:")
print(cantidad_por_tecnologia)

Cantidad por tecnología:
tecnologia
Java                       166
Python                     150
PHP                         53
C++                         34
JavaScript                  29
Javascript                  27
C#                          26
Scala                       24
Swift                       23
Go                          23
python                      22
Kotlin                      22
Python                      18
Ruby                        18
TypeScript                  14
.NET                        13
JS                          12
SQL                         12
iOS                         10
C                            9
R                            8
Android                      8
java                         8
php                          7
Typescript                   7
javascript                   7
JavaScript                   6
.net                         6
Kubernetes                   5
ABAP                         5
Javascript / Typescript      5
AWS                          4
Php                          4
Elixir                       4
QA                           4
Cloud                        3
Golang                       3
Ruby on Rails                3
Node.js                      3
React                        3
Embedded                     3
go                           2
Bash                         2
C, C++                       2
Angular                      2
Frontend                     2
.Net                         2
Java/Kotlin                  2
Sql                          2
JavaScript/Typescript        2
Python, SQL                  2
JavaScript / TypeScript      2
Figma                        2
Spark                        2
js                           2
kotlin                       2
NodeJS                       2
SAP                          2
C#, .net core                2
PHP                          2
Name: count, dtype: int64

In [21]:
# Reemplazar valores repetidos
reemplazo_tecnologias = {
    'Javascript': 'JavaScript',
    'javascript': 'JavaScript',
    'JS': 'JavaScript',
    'php': 'PHP',
    'Typescript': 'TypeScript',
    'javascript': 'JavaScript',
    'java': 'Java',
    'Python': 'Python',
    'python': 'Python',
    '.net': '.NET',
    'Sql': 'SQL',
    'js': 'JavaScript',
    'kotlin': 'Kotlin',
    'SAP / ABAP': 'SAP',
    'Angular, Typescript': 'Angular',
    'Pyrhon': 'Python',
    'PM tools': 'Project Management Tools',
    'Grails, Groovy': 'Grails',
    'C++/c': 'C++',
    'React / JavaScript': 'React',
    'Python, cloud computing': 'Python',
    'JavScript': 'JavaScript',
    'Python (Django)': 'Django',
    'Kubernetes, Terraform, GCP': 'Kubernetes',
    'Kubrrnetes': 'Kubernetes',
    'Java & PHP': 'Java',
    'networking, linux, automation, cloud': 'Linux',
    'Terraform, Kubernetes, AWS, GCP, Ansible, Puppet': 'Terraform',
    'JS, WDIO': 'JavaScript',
    'Офмф': 'Otro',
    'Clojure': 'Clojure',
    'React JS': 'React',
    'TypeScript/Angular': 'Angular',
    'golang': 'Go',
    'Kotlin/PHP': 'Kotlin',
    'SAP ABAP': 'SAP',
    'Cobol': 'COBOL',
    'AI': 'Artificial Intelligence',
    'Js, reactJS': 'React',
    'pythin': 'Python',
    'julia': 'Julia',
    'Angular, TypeScript': 'Angular',
    'python, scala': 'Python',
    'Django, Flask, Plotly Dash': 'Django',
    'c++': 'C++',
    'JS, Java': 'JavaScript',
    'Python, Pytorch': 'Python',
    'PS, Sketch, React, CSS3': 'React',
    'Python/NLP': 'Python',
    'Scala, Apache Spark': 'Scala',
    'Swift, Objective-C': 'Swift',
    'React.js / TypeScript': 'React',
    'BI, DWH, ETL/ELT': 'BI',
    'PL/SQL': 'SQL',
    'scala': 'Scala',
    'Java / Scala': 'Java',
    'Python, database technologies': 'Python',
    'C++, C#': 'C++',
    'Java Backend': 'Java',
    '.Net, Angular': '.NET',
    'c/c++': 'C++',
    'Kuberenetes, Openstack': 'Kubernetes',
    'JavaScript, TypeScript': 'TypeScript',
    'Sql': 'SQL',
    'Javascript, Angular': 'Angular',
    'SAS,SQL,Python': 'SAS',
    'Node': 'Node.js',
    'Python/SQL': 'Python',
    'php, js, python, docker': 'PHP',
    'C, Matlab': 'C',
    'TypeScript, Kotlin': 'TypeScript',
    'Tricentis Tosca': 'Tricentis Tosca',
    'Javascript/Typescript': 'TypeScript',
    'Java & Distributed Systems Stuff': 'Java',
    'jenkins bash': 'Jenkins',
    'Test Management': 'Test Management',
    'NodeJS/TS': 'Node.js',
    'PHP/MySQL': 'PHP',
    'NLP, Python': 'NLP',
    'Python, Whole Apache Data Science Stack, AWS': 'Python',
    'Embedded C++': 'C++',
    'NodsJs': 'Node.js',
    'Swift, Objective-C, iOS': 'Swift',
    'typescript': 'TypeScript',
    'DC Management': 'DC Management',
    'Java, angular, Aws': 'Java',
    'Swift, objective-c': 'Swift',
    'Qlik BI Tool, SQL': 'Qlik',
    'c#': 'C#',
    'Frontend: react, node.js': 'React',
    'Js, TypeScript, Angular': 'Angular',
    'Java, terraform': 'Java',
    'Javascript': 'JavaScript',
    'Angular, React': 'Angular',
    'NodeJS, Typescript, AWS': 'Node.js',
    'Java, JS': 'Java',
    'Typescript / Angular': 'Angular',
    'C++, Java, Embedded C': 'C++',
    'TypeScript, JavaScript': 'TypeScript',
    'C# .NET': 'C#',
    'AWS, GCP, Python,K8s': 'AWS',
    'Aws Hadoop Postgre Typescript': 'AWS',
    'Go/Python': 'Go',
    'С#': 'C#',
    'JavaScript/ES6': 'JavaScript',
    'Hardware': 'Hardware',
    'Js': 'JavaScript',
    'android': 'Android',
    'ML': 'Machine Learning',
    'Scala, React.js': 'Scala',
    'Ml/Python': 'Machine Learning',
    'JavaScript/TypeScript': 'TypeScript',
    'Azure, SAP': 'Azure',
    'Java, JavaScript': 'Java',
    'React/Typescript': 'React',
    'Golang': 'Go',
    'Python + SQL': 'Python',
    'Terraform': 'Terraform',
    'Java, .Net': 'Java',
    'Python, statistics, SQL': 'Python',
    'Sql, BQ, tableau, gtm, ga': 'SQL',
    'React': 'React',
    'Management': 'Management',
    'Java, Kotlin': 'Java',
    'Nodejs': 'Node.js',
    'TS': 'TypeScript',
    'sql': 'SQL',
    'Spark, Pytorch': 'Spark',
    'java/scala/go/clouds/devops': 'DevOps',
    'Java': 'Java',
    'Linux/UNIX, GIT, Virtualisation Platforms, *shell(s) scripts': 'Linux',
    'Sketch, Figma': 'Sketch',
    'k8s': 'Kubernetes',
    'Typescript, Web apps': 'TypeScript',
    'Java/Groovy': 'Java',
    'Java/C++': 'Java',
    'embedded': 'Embedded',
    'Scala / Python': 'Scala',
    'Java/Scala': 'Java',
    'Web developer': 'Web Development',
    'TypeScript, React': 'TypeScript',
    'Python / JavaScript (React)': 'Python',
    'JavaScript / typescript': 'TypeScript',
    'Terraform': 'Terraform',
    'JAVA': 'Java',
    'Apache Spark': 'Spark',
    'SAP BW / ABAP': 'SAP BW ABAP',
    'Go, PHP, SQL': 'Go',
    'Kotlin': 'Kotlin',
    'C#/.NET': 'C#',
    'Kotlin, Java': 'Kotlin',
    'Linux Kernel': 'Linux Kernel',
    'Android/Kotlin': 'Android',
    'yaml': 'YAML',
    'Javascript': 'JavaScript',
    'javascript': 'JavaScript',
    'Javascript / Typescript': 'JavaScript',
    'JavaScript/Typescript': 'JavaScript',
    'JavaScript / TypeScript': 'JavaScript',
    'JavaScript ': 'JavaScript',
    'JS': 'JavaScript',
    'js': 'JavaScript',
    'python': 'Python',
    'Python ': 'Python',
    'Python, SQL': 'Python',
    'java': 'Java',
    'Java/Kotlin': 'Java',
    'php': 'PHP',
    'Php': 'PHP',
    'PHP ': 'PHP',
    'C++/c ': 'C++',
    'c++': 'C++',
    'C++/c ': 'C++',
    'C#, .net core': 'C#',
    'Golang': 'Go',
    'go': 'Go',
    'kotlin': 'Kotlin',
    'Kotlin/PHP': 'Kotlin',
    'Typescript': 'TypeScript',
    'TypeScript/Angular': 'TypeScript',
    'Ruby on Rails': 'Ruby',
    'iOS': 'Swift',
    '.net': '.NET',
    '.Net': '.NET',
    'C, C++': 'C',
    'C/C++': 'C',
    'Sql ': 'SQL',
    'Android': 'Kotlin',
    'React / JavaScript': 'React',
    'React JS': 'React',
}
encuesta['tecnologia'] = encuesta['tecnologia'].replace(reemplazo_tecnologias)

# Definir umbral minimo de representación
umbral_representacion = 3

# Identificar tecnologías poco representadas
frecuencia_tecnologia = encuesta['tecnologia'].value_counts()
tecnologias_poco_representadas = frecuencia_tecnologia[frecuencia_tecnologia < umbral_representacion].index

# Reemplazar tecnologías poco representados con 'Otro'
encuesta.loc[encuesta['tecnologia'].isin(tecnologias_poco_representadas), 'tecnologia'] = 'Otro'

# Contar cantidad por tecnología
cantidad_por_tecnologia = encuesta['tecnologia'].value_counts()

# Mostrar resultados
print("Cantidad por tecnología:")
print(cantidad_por_tecnologia)

Cantidad por tecnología:
tecnologia
Python        203
Java          190
JavaScript     97
Otro           85
PHP            68
C++            40
Swift          36
Kotlin         34
TypeScript     32
C#             32
Go             31
Scala          28
.NET           22
Ruby           21
SQL            18
C              14
Kubernetes      9
React           9
Node.js         8
Angular         8
R               8
AWS             6
ABAP            5
Elixir          4
QA              4
Spark           4
Embedded        4
SAP             4
Cloud           3
Linux           3
Name: count, dtype: int64

In [22]:
# Calcular estadísticos descriptivos
descripcion = encuesta['salario'].describe()
valores_ordenados = encuesta['salario'].sort_values()

# Mostrar resultados
print("Descripción estadística de la columna salario:")
print(descripcion)

print("\nOrden de los valores de la columna salario de menor a mayor:")
print(valores_ordenados)

Descripción estadística de la columna salario:
count    1.030000e+03
mean     5.567713e+05
std      1.557724e+07
min      1.000100e+04
25%      5.900000e+04
50%      7.000000e+04
75%      8.000000e+04
max      5.000000e+08
Name: salario, dtype: float64

Orden de los valores de la columna salario de menor a mayor:
982         10001.0
883         10001.0
366         10164.0
1135        11500.0
680         12000.0
           ...
574        200000.0
804        240000.0
630        250000.0
778        850000.0
853     500000000.0
Name: salario, Length: 1030, dtype: float64

In [23]:
# Borrar datos atípicos columna 'salario'
encuesta = borrar_valores_atipicos(encuesta, 'salario')

# Cambiar tipo de de dato
encuesta['salario'] = encuesta['salario'].astype('int')

# Calcular estadísticos descriptivos
descripcion = encuesta['salario'].describe()
valores_ordenados = encuesta['salario'].sort_values()

# Mostrar resultados
print("Descripción estadística de la columna salario:")
print(descripcion)

print("\nOrden de los valores de la columna salario de menor a mayor:")
print(valores_ordenados)

Descripción estadística de la columna salario:
count       961.000000
mean      68990.469303
std       15330.733416
min       29000.000000
25%       60000.000000
50%       68500.000000
75%       80000.000000
max      110000.000000
Name: salario, dtype: float64

Orden de los valores de la columna salario de menor a mayor:
755      29000
675      30000
1017     30000
444      30000
1183     30000
         ...
1186    110000
790     110000
1068    110000
795     110000
1250    110000
Name: salario, Length: 961, dtype: int32

In [24]:
# Contar cantidad por estado
cantidad_por_estado = encuesta['estado'].value_counts()

# Mostrar resultados
print("Cantidad por estado:")
print(cantidad_por_estado)

Cantidad por estado:
estado
Full-time employee                                                                 944
Self-employed (freelancer)                                                           9
Part-time employee                                                                   3
Founder                                                                              2
Full-time position, part-time position, & self-employed (freelancing, tutoring)      1
Intern                                                                               1
full-time, but 32 hours per week (it was my request, I'm a student)                  1
Name: count, dtype: int64

In [25]:
# Reemplazar valores atipicos
reemplazo_estado = {
    'Founder':'Full-time employee',
    "full-time, but 32 hours per week (it was my request, I'm a student)": 'Full-time employee',
    'Werkstudent':'Part-time employee',
    'Full-time position, part-time position, & self-employed (freelancing, tutoring)':'Full-time employee',
    'Intern':'Part-time employee'
}
encuesta['estado'] = encuesta['estado'].replace(reemplazo_estado)

# Contar cantidad por estado
cantidad_por_estado = encuesta['estado'].value_counts()

# Mostrar resultados
print("Cantidad por estado:")
print(cantidad_por_estado)

Cantidad por estado:
estado
Full-time employee            948
Self-employed (freelancer)      9
Part-time employee              4
Name: count, dtype: int64

In [26]:
# Contar cantidad por contrato
cantidad_por_contrato = encuesta['contrato'].value_counts()

# Mostrar resultados
print("Cantidad por contrato:")
print(cantidad_por_contrato)

Cantidad por contrato:
contrato
Unlimited contract    926
Temporary contract     35
Name: count, dtype: int64

In [27]:
# Contar cantidad por idioma
cantidad_por_idioma = encuesta['idioma'].value_counts()
cantidad_de_idiomas = len(cantidad_por_idioma)

# Mostrar resultados
print(f'Numero de idiomas unicos: {cantidad_de_idiomas}')
print("Cantidad por idioma:")
print(cantidad_por_idioma)

Numero de idiomas unicos: 10
Cantidad por idioma:
idioma
English               812
German                135
Russian                 5
English and German      2
Spanish                 2
Italian                 1
Czech                   1
French                  1
both                    1
Russian, English        1
Name: count, dtype: int64

In [28]:
# Definir umbral minimo de representación
umbral_representacion = 5

# Identificar idiomas poco representados
frecuencia_idioma = encuesta['idioma'].value_counts()
idiomas_poco_representados = frecuencia_idioma[frecuencia_idioma < umbral_representacion].index

# Reemplazar idiomas poco representados con 'Otro'
encuesta.loc[encuesta['idioma'].isin(idiomas_poco_representados), 'idioma'] = 'Otro'

# Contar cantidad por idioma
cantidad_por_idioma = encuesta['idioma'].value_counts()
cantidad_de_idiomas = len(cantidad_por_idioma)

# Mostrar resultados
print(f'Numero de idiomas unicos: {cantidad_de_idiomas}')
print("Cantidad por idioma:")
print(cantidad_por_idioma)

Numero de idiomas unicos: 4
Cantidad por idioma:
idioma
English    812
German     135
Otro         9
Russian      5
Name: count, dtype: int64

In [29]:
# Contar cantidad por tamaño de empresa
cantidad_por_empresa = encuesta['tamaño_empresa'].value_counts()

# Mostrar resultados
print("Cantidad por tamaño de la empresa:")
print(cantidad_por_empresa)

Cantidad por tamaño de la empresa:
tamaño_empresa
1000+       346
101-1000    332
11-50       131
51-100      111
up to 10     41
Name: count, dtype: int64

In [30]:
# Información final
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 961 entries, 0 to 1252
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   edad            961 non-null    int32
 1   genero          961 non-null    object
 2   ciudad          961 non-null    object
 3   posicion        961 non-null    object
 4   experiencia     961 non-null    int32
 5   nivel           961 non-null    object
 6   tecnologia      961 non-null    object
 7   salario         961 non-null    int32
 8   estado          961 non-null    object
 9   contrato        961 non-null    object
 10  idioma          961 non-null    object
 11  tamaño_empresa  961 non-null    object
dtypes: int32(3), object(9)
memory usage: 86.3+ KB

In [31]:
# Exportar nueva base de datos
encuesta.to_csv('../datos/procesados/encuesta_filtrada.csv', index=False)