In [1]:
# Importar librerías y funciones
import pandas as pd

In [2]:
# Cargar base de datos
encuesta = pd.read_csv('../datos/original/IT Salary Survey EU  2020.csv')

In [3]:
# Visualizar columnas
print("Columnas de la base de datos:")
for columna in encuesta.columns:
    print(columna)

Columnas de la base de datos:
Timestamp
Age
Gender
City
Position
Total years of experience
Years of experience in Germany
Seniority level
Your main technology / programming language
Other technologies/programming languages you use often
Yearly brutto salary (without bonus and stocks) in EUR
Yearly bonus + stocks in EUR
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country
Annual bonus+stocks one year ago. Only answer if staying in same country
Number of vacation days
Employment status
Сontract duration
Main language at work
Company size
Company type
Have you lost your job due to the coronavirus outbreak?
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR

In [4]:
# Renonbrar columnas
nuevos_nombres = [
    'fecha',
    'edad',
    'genero',
    'ciudad',
    'posicion',
    'experiencia',
    'experiencia_alemania',
    'nivel',
    'tecnologia',
    'segundo_lenguaje',
    'salario',
    'bonos',
    'salario_anterior',
    'bonos_anterior',
    'vacaciones',
    'estado',
    'contrato',
    'idioma',
    'tamaño_empresa',
    'tipo_empresa',
    'desempleo_covid',
    'horas_covid',
    'apoyo_covid'
]

encuesta.columns = nuevos_nombres

# Visualizar columnas
for columna in encuesta.columns:
    print(columna)

fecha
edad
genero
ciudad
posicion
experiencia
experiencia_alemania
nivel
tecnologia
segundo_lenguaje
salario
bonos
salario_anterior
bonos_anterior
vacaciones
estado
contrato
idioma
tamaño_empresa
tipo_empresa
desempleo_covid
horas_covid
apoyo_covid

In [5]:
# Eliminar columnas que no serán analizadas
columnas_a_eliminar = [
    'fecha',
    'experiencia_alemania',
    'salario_anterior',
    'bonos_anterior',
    'desempleo_covid',
    'horas_covid',
    'apoyo_covid',
    'segundo_lenguaje',
    'bonos',
    'vacaciones',
    'tipo_empresa'
]
encuesta.drop(columnas_a_eliminar, axis=1, inplace=True)

# Visualizar columnas
print("Columnas de la base de datos:")
for columna in encuesta.columns:
    print(columna)

Columnas de la base de datos:
edad
genero
ciudad
posicion
experiencia
nivel
tecnologia
salario
estado
contrato
idioma
tamaño_empresa

In [6]:
# Información inicial
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   edad            1226 non-null   float64
 1   genero          1243 non-null   object
 2   ciudad          1253 non-null   object
 3   posicion        1247 non-null   object
 4   experiencia     1237 non-null   object
 5   nivel           1241 non-null   object
 6   tecnologia      1126 non-null   object
 7   salario         1253 non-null   float64
 8   estado          1236 non-null   object
 9   contrato        1224 non-null   object
 10  idioma          1237 non-null   object
 11  tamaño_empresa  1235 non-null   object
dtypes: float64(2), object(10)
memory usage: 117.6+ KB

In [7]:
# Contar valores nulos por columna
valores_nulos_por_columna = encuesta.isna().sum()

# Mostrar resultados
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
edad               27
genero             10
ciudad              0
posicion            6
experiencia        16
nivel              12
tecnologia        127
salario             0
estado             17
contrato           29
idioma             16
tamaño_empresa     18
dtype: int64

In [8]:
# Limpiar valores nulos
encuesta = encuesta.dropna()

# Contar valores nulos por columna
valores_nulos_por_columna = encuesta.isna().sum()

# Mostrar resultados
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
edad              0
genero            0
ciudad            0
posicion          0
experiencia       0
nivel             0
tecnologia        0
salario           0
estado            0
contrato          0
idioma            0
tamaño_empresa    0
dtype: int64

In [9]:
# Declarar función borrar valores atípicos
def borrar_valores_atipicos(base_de_datos, columna):
    Q1 = base_de_datos[columna].quantile(0.25)
    Q3 = base_de_datos[columna].quantile(0.75)
    rango = Q3 - Q1
    limite_inferior = Q1 - 1.5 * rango
    limite_superior = Q3 + 1.5 * rango
    base_de_datos = base_de_datos.drop(base_de_datos[base_de_datos[columna] < limite_inferior].index)
    base_de_datos = base_de_datos.drop(base_de_datos[base_de_datos[columna] > limite_superior].index)
    return base_de_datos

In [10]:
# Descripción estadística de la columna edad
print("Descripción estadística de la columna edad:")
print(encuesta.edad.describe())

# Orden de los valores de la columna edad de menor a mayor
print("\nOrden de los valores de la columna edad de menor a mayor:")
print(encuesta.edad.sort_values())

Descripción estadística de la columna edad:
count    1070.000000
mean       32.358879
std         5.555923
min        20.000000
25%        29.000000
50%        32.000000
75%        35.000000
max        66.000000
Name: edad, dtype: float64

Orden de los valores de la columna edad de menor a mayor:
804     20.0
1052    22.0
350     22.0
1099    22.0
982     22.0
        ...
1159    56.0
232     56.0
23      59.0
296     65.0
59      66.0
Name: edad, Length: 1070, dtype: float64

In [11]:
# Borrar datos atípicos columna edad
encuesta = borrar_valores_atipicos(encuesta, 'edad')

# Cambiar tipo de de dato
encuesta.edad = encuesta.edad.astype('int')

# Descripción estadística de la columna edad
print("Descripción estadística de la columna edad:")
print(encuesta.edad.describe())

# Orden de los valores de la columna edad de menor a mayor
print("\nOrden de los valores de la columna edad de menor a mayor:")
print(encuesta.edad.sort_values())

Descripción estadística de la columna edad:
count    1039.000000
mean       31.847931
std         4.669003
min        20.000000
25%        28.000000
50%        32.000000
75%        35.000000
max        44.000000
Name: edad, dtype: float64

Orden de los valores de la columna edad de menor a mayor:
804     20
1052    22
350     22
1099    22
982     22
        ..
836     44
1145    44
315     44
1221    44
720     44
Name: edad, Length: 1039, dtype: int32

In [12]:
# Visualizar columna género
print("Cantidad por género:")
print(encuesta.genero.value_counts())

Cantidad por género:
genero
Male       886
Female     151
Diverse      2
Name: count, dtype: int64

In [13]:
# Visualizar columna ciudad
print("Cantidad por ciudad:")
print(encuesta.ciudad.value_counts())

Cantidad por ciudad:
ciudad
Berlin         564
Munich         196
Hamburg         34
Frankfurt       34
Stuttgart       20
              ...
Cupertino        1
Wroclaw          1
Salzburg         1
Milan            1
Saarbrücken      1
Name: count, Length: 107, dtype: int64

In [14]:
# Visualizar columna posición
print("Cantidad por ciudad:")
print(encuesta.posicion.value_counts().nlargest(20))

Cantidad por ciudad:
posicion
Software Engineer      346
Backend Developer      159
Data Scientist          95
Frontend Developer      82
QA Engineer             53
Mobile Developer        51
DevOps                  39
ML Engineer             37
Data Engineer           20
Engineering Manager      9
Product Manager          7
Data Analyst             6
Designer (UI/UX)         5
Software Architect       4
CTO                      4
Fullstack Developer      4
SRE                      3
Team Lead                3
Consultant               3
Business Analyst         3
Name: count, dtype: int64

In [15]:
# Reemplazar valores poco representados
otras_posiciones = encuesta.posicion.value_counts()[(encuesta.posicion.value_counts() < 4).values].index
encuesta.loc[encuesta.posicion.isin(otras_posiciones),'posicion'] = 'Otro'
# Visualizar columna posición
encuesta.posicion.value_counts()

posicion
Software Engineer      346
Backend Developer      159
Otro                   118
Data Scientist          95
Frontend Developer      82
QA Engineer             53
Mobile Developer        51
DevOps                  39
ML Engineer             37
Data Engineer           20
Engineering Manager      9
Product Manager          7
Data Analyst             6
Designer (UI/UX)         5
Software Architect       4
Fullstack Developer      4
CTO                      4
Name: count, dtype: int64

In [16]:
# Visualizar columna experiencia
encuesta.experiencia.unique()

array(['5', '7', '12', '4', '17', '6', '8', '15', '2', '14', '11', '18',
       '13', '10', '3', '9', '19', '20', '5.5', '22', '25', '16', '0.8',
       '1', '1.5', '21', '2.5', '28', '1,5', '24', '0', '4.5',
       '1 (as QA Engineer) / 11 in total', '2,5', '15, thereof 8 as CTO',
       '6 (not as a data scientist, but as a lab scientist)', '3.5',
       'less than year'], dtype=object)

In [17]:
# Reemplazar valores no numericos
encuesta.experiencia = encuesta.experiencia.str.replace(',','.')
encuesta.experiencia = encuesta.experiencia.replace('1 (as QA Engineer) / 11 in total','11') \
                             .replace('6 (not as a data scientist. but as a lab scientist)', '6') \
                             .replace('less than year','1') \
                             .replace('15. thereof 8 as CTO', '15') \
                             .replace('5.5', '6') \
                             .replace('0.8', '1') \
                             .replace('1.5', '2') \
                             .replace('2.5', '3') \
                             .replace('4.5', '5') \
                             .replace('2.5', '3') \
                             .replace('3.5', '4')
# Cambiar tipo de dato
encuesta.experiencia = encuesta.experiencia.astype('int')
# Borrar datos atípicos columna edad
encuesta = borrar_valores_atipicos(encuesta, 'experiencia')
# Visualizar columna experiencia
encuesta.experiencia.unique()

array([ 5,  7, 12,  4, 17,  6,  8, 15,  2, 14, 11, 18, 13, 10,  3,  9, 19,
       20, 16,  1,  0])

In [18]:
# Visualizar columna nivel
encuesta.nivel.value_counts()

nivel
Senior                       466
Middle                       314
Lead                         134
Junior                        71
Head                          29
Principal                      2
Intern                         1
Entry level                    1
Working Student                1
C-Level                        1
Student                        1
intern                         1
Director                       1
C-level executive manager      1
No level                       1
CTO                            1
Work Center Manager            1
Manager                        1
VP                             1
student                        1
Name: count, dtype: int64

In [19]:
# Borrar valores poco comunes
niveles_seleccionados = encuesta.nivel.value_counts()[:5].index.to_list()
encuesta = encuesta[encuesta.nivel.isin(niveles_seleccionados)].reset_index(drop=True)
# Visualizar columna nivel
encuesta.nivel.value_counts()

nivel
Senior    466
Middle    314
Lead      134
Junior     71
Head       29
Name: count, dtype: int64

In [20]:
# Visualizar columna lenguaje programacion
encuesta.tecnologia.value_counts()[:60]

tecnologia
Java                       165
Python                     145
PHP                         52
C++                         33
JavaScript                  29
Javascript                  27
C#                          26
Scala                       24
Go                          23
Swift                       23
python                      22
Kotlin                      22
Python                      18
Ruby                        17
TypeScript                  14
.NET                        13
SQL                         12
JS                          11
iOS                         10
C                            9
java                         8
Android                      8
R                            8
javascript                   7
php                          7
Typescript                   7
.net                         6
JavaScript                   6
Javascript / Typescript      5
Kubernetes                   5
ABAP                         5
Php                          4
QA                           4
Elixir                       4
AWS                          4
Node.js                      3
Ruby on Rails                3
Golang                       3
Cloud                        3
Embedded                     3
React                        3
Bash                         2
js                           2
Angular                      2
JavaScript / TypeScript      2
Java/Kotlin                  2
JavaScript/Typescript        2
.Net                         2
Sql                          2
go                           2
Python, SQL                  2
C/C++                        2
Spark                        2
C, C++                       2
NodeJS                       2
Figma                        2
PHP                          2
kotlin                       2
Frontend                     2
SAP                          2
Name: count, dtype: int64

In [21]:
# Reemplazar valores repetidos
encuesta.tecnologia = encuesta.tecnologia.replace('Javascript','JavaScript') \
                             .replace('javascript', 'JavaScript') \
                             .replace('Javascript / Typescript', 'JavaScript') \
                             .replace('JavaScript', 'JavaScript') \
                             .replace('JavaScript/Typescript', 'JavaScript') \
                             .replace('JavaScript / TypeScript', 'JavaScript') \
                             .replace('JavaScript ', 'JavaScript') \
                             .replace('JS', 'JavaScript') \
                             .replace('js', 'JavaScript') \
                             .replace('python', 'Python') \
                             .replace('Python ', 'Python') \
                             .replace('Python, SQL', 'Python') \
                             .replace('java', 'Java') \
                             .replace('Java/Kotlin', 'Java') \
                             .replace('php', 'PHP') \
                             .replace('Php', 'PHP') \
                             .replace('PHP ', 'PHP') \
                             .replace('C++/c ', 'C++') \
                             .replace('c++', 'C++') \
                             .replace('C++/c ', 'C++') \
                             .replace('C#, .net core', 'C#') \
                             .replace('Golang', 'Go') \
                             .replace('go', 'Go') \
                             .replace('kotlin', 'Kotlin') \
                             .replace('Kotlin/PHP', 'Kotlin') \
                             .replace('Typescript', 'TypeScript') \
                             .replace('TypeScript/Angular', 'TypeScript') \
                             .replace('Ruby on Rails', 'Ruby') \
                             .replace('iOS', 'Swift') \
                             .replace('.net', '.NET') \
                             .replace('.Net', '.NET') \
                             .replace('C, C++', 'C') \
                             .replace('C/C++', 'C') \
                             .replace('Sql ', 'SQL') \
                             .replace('Android', 'Kotlin') \
                             .replace('Node.js', 'NodeJS') \
                             .replace('React / JavaScript', 'React') \
                             .replace('React JS', 'React')
# Reemplazar datos poco comunes
otros_lenguajes = encuesta.tecnologia.value_counts()[(encuesta.tecnologia.value_counts() < 5).values].index
encuesta.loc[encuesta.tecnologia.isin(otros_lenguajes),'tecnologia'] = 'Otro'
encuesta = encuesta[encuesta['tecnologia'] != 'Otro']
# Visualizar columna lenguaje programacion
encuesta.tecnologia.value_counts()

tecnologia
Python        187
Java          175
JavaScript     91
PHP            65
C++            34
Kotlin         33
Swift          33
Go             28
C#             28
Scala          24
TypeScript     22
.NET           21
Ruby           20
SQL            14
C              13
R               8
React           5
Kubernetes      5
NodeJS          5
ABAP            5
Name: count, dtype: int64

In [22]:
# Visualizar salarios
print(encuesta.salario.describe())
print(encuesta['salario'].sort_values())

count       816.000000
mean      71631.573529
std       35529.879588
min       10001.000000
25%       60000.000000
50%       70000.000000
75%       80000.000000
max      850000.000000
Name: salario, dtype: float64
704     10001.0
789     10001.0
286     10164.0
914     11500.0
304     13000.0
         ...
775    200000.0
449    200000.0
639    240000.0
495    250000.0
618    850000.0
Name: salario, Length: 816, dtype: float64

In [23]:
# Borrar datos atípicos columna salario
encuesta = borrar_valores_atipicos(encuesta, 'salario')
# Cambiar tipo de de dato
encuesta.salario = encuesta.salario.astype('int')
# Visualizar columna salarios
print(encuesta.salario.describe())
print(encuesta['salario'].sort_values())

count       766.000000
mean      69578.451697
std       14874.646988
min       30000.000000
25%       60000.000000
50%       70000.000000
75%       80000.000000
max      110000.000000
Name: salario, dtype: float64
344      30000
649      33000
365      34000
973      35000
204      35000
         ...
628     110000
861     110000
632     110000
1011    110000
957     110000
Name: salario, Length: 766, dtype: int32

In [24]:
# Visualizar columna estado
encuesta.estado.value_counts()

estado
Full-time employee            755
Self-employed (freelancer)      7
Founder                         2
Part-time employee              2
Name: count, dtype: int64

In [25]:
# Reemplazar valores atipicos
encuesta.estado = encuesta.estado.replace('Founder','Full-time employee') \
                             .replace("full-time, but 32 hours per week (it was my request, I'm a student)", "Full-time employee") \
                             .replace('Werkstudent','Part-time employee')
# Visualizar columna estado
encuesta.estado.value_counts()

estado
Full-time employee            757
Self-employed (freelancer)      7
Part-time employee              2
Name: count, dtype: int64

In [26]:
# Visualizar columna contrato
encuesta.contrato.value_counts()

contrato
Unlimited contract    739
Temporary contract     27
Name: count, dtype: int64

In [27]:
# Eliminar valor erroneo
encuesta = encuesta[encuesta['contrato'] != '0']
# Visualizar columna contrato
encuesta.contrato.value_counts()

contrato
Unlimited contract    739
Temporary contract     27
Name: count, dtype: int64

In [28]:
# Visualizar columna idiomas
print(f'Numero de idiomas unicos: {len(encuesta.idioma.unique())}')
encuesta.idioma.value_counts()

Numero de idiomas unicos: 8

idioma
English               657
German                101
Russian                 3
English and German      1
Czech                   1
French                  1
Spanish                 1
Russian, English        1
Name: count, dtype: int64

In [29]:
# Reemplazar valores poco comunes
otros_idioma = encuesta.idioma.value_counts()[(encuesta.idioma.value_counts() < 5).values].index
encuesta.loc[encuesta.idioma.isin(otros_idioma),'idioma'] = 'Otro'
# Visualizar columna idiomas
print(f'Numero de idiomas unicos: {len(encuesta.idioma.unique())}')
encuesta.idioma.value_counts()

Numero de idiomas unicos: 3

idioma
English    657
German     101
Otro         8
Name: count, dtype: int64

In [30]:
# Visualizar columna tamaño empresa
encuesta['tamaño_empresa'].value_counts()

tamaño_empresa
101-1000    281
1000+       265
11-50       103
51-100       87
up to 10     30
Name: count, dtype: int64

In [31]:
# Información final
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 766 entries, 0 to 1012
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   edad            766 non-null    int32
 1   genero          766 non-null    object
 2   ciudad          766 non-null    object
 3   posicion        766 non-null    object
 4   experiencia     766 non-null    int32
 5   nivel           766 non-null    object
 6   tecnologia      766 non-null    object
 7   salario         766 non-null    int32
 8   estado          766 non-null    object
 9   contrato        766 non-null    object
 10  idioma          766 non-null    object
 11  tamaño_empresa  766 non-null    object
dtypes: int32(3), object(9)
memory usage: 68.8+ KB

In [32]:
# Exportar nueva base de datos
encuesta.to_csv('../datos/procesados/encuesta_filtrada.csv', index=False)